.navbar{
    background-color: lightpink;
    font-family: 'Lobster Two', cursive;
}
.card {
    margin: 50px;
    width: 30rem;
    
    
  }
  
  .card-body {
    /* background-color: rgb(89, 170, 165); */
    background-color: plum;
    
  }
  
  /* .card-text {
    color: #872424;
    font-size: 18px;
    font-weight: 500;
  } */

  /* .github-link {
  color: lightgrey;
  margin-right: 7%;
} */

#card-body{
    background-color:cadetblue;
}